@charset "UTF-8";
/* Aquatic Informatics Template 
	Author: Mel Roth
	Author URL: melroth.com
	Author Email: mel.roth@aquaticinformatics.com or mel@melroth.com
*/

@import "colors.scss";
@import "bootstrap-overrides.scss";
@import "fonts.scss";
@import "forms.scss";
@import "alerts.scss";
@import "segmented-control.scss";
@import "tabs.scss";
@import "buttons.scss";
@import "tables.scss";


.swatch {
	min-height: 200px;
	padding: 15px; 
	padding-top: 30px; 
	vertical-align: bottom;
}

.swatch.light {
	color: #333;
}

/* Colours */

.colors .row {
	margin-bottom: 2em;
}

.card {
	box-shadow: 0 2px 4px rgba(102,102,102,.1);
}