.title {
    font-size: 26px;
    color: #007bff;
    margin-left: 5px;
}

.active-cards {
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
}