
@import '../../../assets/css/_colors.scss';

.left-nav {
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
    max-width: 150px; 
} 

.link {
    margin: 0px !important;
    padding: 5px;
    align-self: flex-start;
    color: $ai-dark-blue; 
} 

.active {
    background: $ai-white;
    width:100%; 
}

.linko-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
}
